<%- include('../components/header/table-header') %>

<div class="wrapper">
  
    <%- include('../components/sidebar/sidebar') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Flag</h1>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                      <thead>
                      <tr>
                          <th>Flag</th>
                          <th>Đội</th>
                          <th>Round</th>
                          <th>Submit</th>
                      </tr>
                      </thead>
                      <tbody>
                          <% if (flags.docs && Array.isArray(flags.docs)) { %>
                            <% for(let i=0; i<flags.docs.length; i++) {%>
                              <tr>
                                  <td><%= flags.docs[i].flag %></td>
                                  <td><%= flags.docs[i].teamId.name %></td>
                                  <td><%= flags.docs[i].round %></td>
                                  <td><%= flags.docs[i].check %></td>
                                  <td>
                                      <form action=<%= `/flag/delete/${flags.docs[i]._id}` %> method="POST"
                                            style="display: inline-block;">
                                          <button type="submit" class="btn btn-danger">Delete</button>
                                      </form>
                                  </td>
                              </tr>
                            <% } %>
                          <% } %>
                      </tbody>
                  </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <%- include('../components/partials/pagination', { data: flags }) %>
              </div>
              <!-- /.card-footer -->
          </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<%- include('../components/footer/table-footer') %>
